body{
    font-family: 'Lato', sans-serif;
    background-color: lightgoldenrodyellow;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 80%;
    float: left;
}
.blue-colour{
    color: slateblue;
}
.orange-colour{
    color:lightcoral;
}
.red-button{
    color: white;
    text-decoration: none;
    background-color: lightcoral;
    padding: 15px 40px;
    border-radius: 10px;
}
section{
    height: 450px;
    
    
}
.center{
    text-align: center;
}
.one-thirt{
    width:28%;
    padding-left: 2%;
    margin-left: 2%;
    float: left;
    box-shadow: 10px 10px 50px gray;
    
}
.one-thirt img{
    width:100%;
    float: left;
}
.background-image{
    background-image: url("images/sapes.png");
    background-repeat: no-repeat;
    background-size: 600px;
    height: 300px;
    margin: 10% 20%;
}
.common-part{
    display: inline-block;
}
.chat-part a{
    text-decoration: none;
    color: white;
}

.chat-part{

    padding-left: 100px;
    margin-left: 20px;
}
.word-inquiry h2{
    color:white;

}
.word-inquiry{
    padding-left: 20px;
    padding-top: 10px;
}

.last-part{
    text-align: center;
}